<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title || 'Impressão de foto' %></title>
  </head>

  <style>
    body {
      margin: 0 !important;
      padding: 0 !important;
      width: <%= img.widthIn %>in;
      height: <%= img.heightIn %>in;
    }

    img {
      object-fit: contain;
      margin: 0 !important;
      width: <%= img.widthIn %>in !important;
      height: <%= img.heightIn %>in !important;
    }

    @media print {
      @page {
        margin: 0 !important;
        padding: 0 !important;
        width: <%= img.widthIn %>in;
        height: <%= img.heightIn %>in;
      }
    }
  </style>

  <body>
    <img src="<%= img.src %>" />
  </body>
</html>
