<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Photo to print</title>
  </head>

  <style>
    body {
      box-shadow: inset 0px 0px 0px 3px #000000;
    }

    @media print {
      @page {
        size: <%= img.widthCm %>cm <%= img.heightCm %>cm;
        margin: 0;
      }
    }
  </style>

  <body>
    <div class="w-screen h-screen overflow-hidden">
      <img
        class="w-[<%= img.widthCm %>cm] h-[<%= img.heightCm %>cm] <%= resize === 'contain' ? 'object-contain' : 'object-cover' %>"
        src="<%= img.src %>"
      />
    </div>
  </body>
</html>
